@charset "UTF-8";
/*Em HTML é id = em CSS é # (so pode um elemento)
Em HTML é class = em CSS é .(pode varios elementos)*/
body{
    background-color: rgba(172, 232, 216, 0.768);
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #01203089;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: rgb(76, 119, 73);
}
h1#principal {
    text-align: center;
    background-color: rgba(136, 163, 134, 0.508);
    color: white;
}
h2{
 color: rgb(54, 69, 53);
 font: bold;
}
.basico{
   color: rgb(67, 127, 63);
   font: bold;
}
.intermediario{
    color: rgb(127, 126, 63);
    font: bold;
}
.avancado{
    color: rgb(127, 68, 63);
    font: bold;
}
.destaque{ 
    background-color: rgba(184, 184, 84, 0.501);
}