@charset 'UTF-8';

/*declarações geraias*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
       }

   html, body {
           height: 100vh;
           width: 100vw;
           background-color: #233eff;
           background-size: contain;
           background-repeat: no-repeat;
            }

       h1 {
           color: white;
           text-shadow: 3px 3px 0px #192cbe;
           padding: 10px;
       }
   /*Declarações Retrato*/
   @media screen and (orientation: portraid) {
   body {
       background-image: url(../imagens/cev-portrait.jpg);
       background-position: center bottom;
       }
   }
   /*Declarações Paisagem*/
     @media screen and(orientation: landscape) {
   body {
           background-image: url(../imagens/cev-landscape.jpg);
           background-position: left bottom;
       }
     }